<h2>Edit en ny punkt</h2>
<form action="/todo/<%= @todo['id'] %>/update" method="post">
<label for="name">Name</label>
<input type="text" name="name" value="<%= @todo['name'] %>">
<label for="color">Color</label>
<input type="text" name="color" value="<%= @todo['color'] %>">
<label for="tastiness">Tastiness</label>	
<input type="number" name="tastiness" value="<%= @todo['tastiness'] %>">
<label for="description">Description</label>
<input type="text" name="description" value="<%= @todo['description'] %>">
<input type="submit" value="Update">
</form>