<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
<header>
    <h1>Todo Lista</h1>
    <form action="/logout" method="post" class="logout-form">
    <button type="submit" class="logout-button">Log Out</button>
</form>
</header>

<form action="/todo" method="post" class="todo-form">
    <input type="text" name="name" placeholder="New Task" required class="todo-input">
    <input type="text" name="description" placeholder="Description" required class="todo-input">
    <select name="folder_id">
  <option value="">No Folder</option>
  <% db.execute("SELECT * FROM folders").each do |folder| %>
    <option value="<%= folder['id'] %>"><%= folder['name'] %></option>
  <% end %>
</select>

    <button id="create-folder-btn">Create New Folder</button>

    <input type="submit" value="Add" class="todo-submit">
</form>




<ul>
    <% @todos.each do |todo| %>
            <% if todo['done'] == 1%>
            <li class = "list_completed">
                <h2 class= "completed"><%= todo['name'] %></h2> 
                <p> <%= todo['description'] %> </p>
                <form action="/todo/<%= todo['id'] %>/<%=todo['done']%>" method="post" style="display:inline;">
                <input type="submit" value="undo">
            </form>
            <form action="/todo/<%= todo['id'] %>/delete" method="post" style="display:inline;">
            <input type="submit" value="Delete">
            </li>
            <% else %>
            <li class = "list_uncompleted">
                <h2><%= todo['name'] %> </h2>
                <p> <%= todo['description'] %> </p>
                <form action="/todo/<%= todo['id'] %>/<%=todo['done']%>" method="post" style="display:inline;">
                <input type="submit" value="Done">
            </form>
            <form action="/todo/<%= todo['id'] %>/delete" method="post" style="display:inline;">
            <input type="submit" value="Delete">
            </li>
            <% end %>
            </form>
    <% end %>
</ul>
  </h1>
</body>
</html>
