<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>



<header>
    <h1>Todo Lista</h1>
    <form action="/logout" method="post" class="logout-form">
    <button type="submit" class="logout-button">Log Out</button>
</form>
</header>

<form action="/todo" method="post" class="todo-form">
    <input type="text" name="name" placeholder="New Task" required class="todo-input">
    <input type="text" name="description" placeholder="Description" required class="todo-input">
    <select name="folder_id">
    <option value="">No Folder</option>
    <% @folders.each do |folder| %>
        <option value="<%= folder['id'] %>"><%= folder['name'] %></option>
    <% end %>
    </select>

    <input type="submit" value="Add" class="todo-submit">
</form>

<form action="/folders/create" method="post" class="todo-form" style="margin-top: 5px;">
    <input type="text" name="name" placeholder="Folder name" required class="todo-input">
    <input type="submit" value="Create Folder" class="todo-submit">
</form>



<% @folders.each do |folder| %>
    <% todo_count = folder['todo_count'] || {done: 0, not_done: 0} %>
    <div class="folder-button-container" style="display: inline-block; padding: 20px; background-color: #f5f9fd; border-radius: 25px; margin: 20px; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease; cursor: pointer;">
        <button class="folder-button" onclick="window.location.href='/folders/<%= folder['id'] %>'" style="background-color: #007bff; color: white; font-size: 24px; padding: 30px 60px; margin: 0; border-radius: 18px; border: none; width: 300px; text-align: center; box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); transition: background-color 0.3s ease, transform 0.2s ease;">
            <div class="folder-info" style="display: flex; flex-direction: column; align-items: center;">
                <span class="folder-name" style="font-weight: 700; font-size: 28px; letter-spacing: 1px; margin-bottom: 14px; text-transform: capitalize; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);">
                    <%= folder['name'] %>
                </span>
                <span class="todo-count" style="font-size: 20px; color: #e0e0e0; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);">
                    (✅ <%= todo_count[:done] %> / ❌ <%= todo_count[:not_done] %>)
                </span>
            </div>
        </button>
    </div>
<% end %>

    

  </h1>
</body>
</html>
